@model List<Tracker>

    @{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Track Orders</h1>
@if (Model.Count > 0)
{
    <table class="table">
        <thead>
            <tr>
                <th>Order ID</th>
                <th>Model Name</th>
                <th>Manufacture Status</th>
                <th>Shipping Status</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var trackerViewModel in Model)
            {
                <tr>
                    <td>@trackerViewModel.order.Id</td>
                    <td>@trackerViewModel.order.OrderedModel.Name</td>
                    <td>
                        @if (trackerViewModel.manufacture != null)
                        {
                        // Display Manufacture status
                            @trackerViewModel.manufacture.Status
                        }
                        else
                        {
                        // Display pending status if Manufacture data is missing
                            <span>Pending</span>
                        }
                    </td>
                    <td>
                        @if (trackerViewModel.shipping != null)
                        {
                            // Display Shipping status
                            @trackerViewModel.shipping.Status
                        }
                        else
                        {
                            // Display pending status if Shipping data is missing
                            <span>Pending</span>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No orders found.</p>
}