@model WebApplication1.Models.Order

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Order</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*<div class="form-group">
                <label asp-for="UserId" class="control-label"></label>
                <select asp-for="UserId" class ="form-control" asp-items="ViewBag.UserId"></select>
            </div>
            <div class="form-group">
                <label asp-for="OrderedModelId" class="control-label"></label>
                <select asp-for="OrderedModelId" class ="form-control" asp-items="ViewBag.OrderedModelId"></select>
            </div>
            <div class="form-group">
                <label asp-for="CustomOrderId" class="control-label"></label>
                <select asp-for="CustomOrderId" class ="form-control" asp-items="ViewBag.CustomOrderId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Customization_Price" class="control-label"></label>
                <input asp-for="Customization_Price" class="form-control" />
                <span asp-validation-for="Customization_Price" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label class="control-label">Model Name</label>
                <input class="form-control" value="@ViewBag.Model_Name" readonly />
                <span class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Total_Price" class="control-label"></label>
                <input asp-for="Total_Price" class="form-control" value="@ViewBag.BasePrice" readonly />
                <span asp-validation-for="Total_Price" class="text-danger"></span>
            </div>
            
           @* <div class="form-group">
                <label asp-for="CreatedDateTime" class="control-label"></label>
                <input asp-for="CreatedDateTime" class="form-control" />
                <span asp-validation-for="CreatedDateTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UpdatedDateTime" class="control-label"></label>
                <input asp-for="UpdatedDateTime" class="form-control" />
                <span asp-validation-for="UpdatedDateTime" class="text-danger"></span>
            </div>*@
            @*<div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <select asp-for="Status" class="form-control"></select>
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <img id="imagePreview" src="#" alt="Preview" style="display: none; max-width: 100%; max-height: 200px;" />

                @if (!string.IsNullOrEmpty(ViewBag.Image_url))
                            {
                    <img src="data:image/png;base64,@ViewBag.Image_url" alt="Current Image" style="max-width: 100%; max-height: 200px;" />
                            }
            </div>
            <div class="form-group">
                <input type="submit" value="Continue" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
